/*Normalización*/
*{
    margin: 0;
    padding: 0;
}
a{
    color: var(--secondary);
    text-decoration: none;
}
:root{
    --primary: rgb(5, 143, 5);
    --secondary: rgb(92, 40, 5);
    --terciary: rgb(224, 123, 7);
}


/*Estilos generales*/
h1{
    font-size: 2.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: var(--secondary);
    text-shadow: 2px 2px black;
}
h2{
    font-size: 1.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: var(--secondary);
    width: 80%;
    border-bottom: 1px solid black;
    text-align: center;
    margin: 1rem auto;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: var(--secondary);
}
h5{
    text-align: center;
    width: 100%;

}
.logo{
    width: 5rem;
    height: 5rem;
}
/*Index header*/
header {
    background-color: var(--primary);
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}
header div{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}
header p{
    font-size: 0.8rem;
}
/*Nav*/
nav{
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    border-top: 1px solid  black;
}
#date{
    font-size: 1.2rem;
    width: 100%;
}
nav a{
    padding: 0.2rem;
    margin: 0 1rem;
    border-radius: 20%;
    transition: 0.2s;
}
nav a:hover{
    background-color: var(--terciary);

}
/*Main*/
main{
    background: url(./bkg-foil.jpg);
    padding: 0.5rem;
}
main p{
    background-color: rgba(245, 222, 179, 0.76);
    padding: 1rem;
    border-radius: 10%;
}
main .logg{
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}
.logg input{
    margin: 1rem 25%;
    padding: 0.5rem;
}
button{
    background-color: var(--primary);
    margin: 1rem;
    padding: 0.2rem;
    border-radius: 2rem;
    box-shadow:inset ;
    transition: 0.2s;
}
button:hover{
    background-color: var(--terciary);
}
.logg #eyeBan{
    width: 1.5rem;
    background-color: gray;
    border-radius: 25%;
    position: absolute;
    bottom: 5rem;
    right: 4rem;
    transition: 0.5s;
    cursor: pointer;
}
.logg #eyeBan:hover{
    background-color: var(--terciary);
}
main .us{
    height: 14rem;
}
.us img{
    width: 8rem;
    height: 8rem;
    margin: 0.5rem;
    float: left;
    clear: none;
}
/*Footer*/
footer{
    padding: 0.5rem;
    background-color: var(--primary);
    display: flex;
    flex-wrap: wrap;
}
footer .faq{
    height: 100%;
    width: 70%;
    overflow: scroll;
}
.faq details{
    cursor: pointer;
    border-radius: 20%;
    transition: 0.5s;
}
.faq details p{
    font-size: 0.8rem;
}
footer .logo{
    margin: 1rem 1rem;
}
footer .rrss{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
}
.rrss img{
    height: 2rem;
}

/**/
.catalog{
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
}
.catalog button{
    width: 8rem;
    padding: 1rem 0;
    margin: 1rem auto;
    grid-column: 1/3;
}
form div{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0.2rem;
    background-color: wheat;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    opacity: 0.7;
}
form div:checked{
    opacity: 1;
    background-image: url();
}
form div:hover{
    opacity: 1;
}
form div img{
    background-color: aliceblue;
    height: 8rem;
    width: 100%;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 2rem;
    transition: 1s;
}
form div p{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;
}
form div .latin{
    font-style: italic;
}
form div input{
    display: none;
}

.logg dialog{
    width: 25rem;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
    margin: auto;
}



@media screen and (min-width: 900px) {
    h1{
        font-size: 5rem;
        text-align: left;
        width: 100%;
    }
    main .logg form{
        margin: 0 auto;
    }
    .logg #eyeBan{
        right: 50rem;
    }
    main p{
        width: 35rem;   
        margin: 0 auto;
    }
    main .us{
        width: 35rem;
        margin: 0 auto;
    }
    .catalog{
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(6, 1fr);
    }
    .catalog button{
        height: 4rem;
        grid-column: 2/6;
    }
    footer .rrss{
        align-items: center;
        width: 20%;
        margin: 0 auto;
    }
    footer .faq{
        height: 100%;
        width: 45%;
        overflow: scroll;
    }
}
