/*Normalización*/
*{
    margin: 0;
    padding: 0;
}
a{
    color: var(--secondary);
    text-decoration: none;
}
:root{
    --primary: rgb(5, 143, 5);
    --secondary: rgb(92, 40, 5);
    --terciary: rgb(224, 123, 7);
}


/*Estilos generales*/
h1{
    font-size: 2.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: var(--secondary);
    text-shadow: 2px 2px black;
}
h2{
    font-size: 1.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: var(--secondary);
    width: 80%;
    border-bottom: 1px solid black;
    text-align: center;
    margin: 1rem auto;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: var(--secondary);
}
h5{
    text-align: center;
    width: 100%;

}
.logo{
    width: 5rem;
    height: 5rem;
}
/*Index header*/
header {
    background-color: var(--primary);
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}
header div{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}
header p{
    font-size: 0.8rem;
}
/*Nav*/
nav{
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    justify-content: right;
    border-top: 1px solid  black;
}
nav a{
    padding: 0.2rem;
    margin: 0 1rem;
    border-radius: 20%;
    transition: 0.2s;
}
nav a:hover{
    background-color: var(--terciary);

}
/*Main*/
main{
    background: url(./bkg-foil.jpg);
    padding: 0.5rem;
}
main p{
    background-color: rgba(245, 222, 179, 0.76);
    padding: 1rem;
    border-radius: 10%;
}
main .logg{
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}
.logg input{
    margin: 1rem 25%;
    padding: 0.5rem;
}
button{
    background-color: var(--primary);
    margin: 1rem;
    padding: 0.2rem;
    border-radius: 2rem;
    box-shadow:inset ;
    transition: 0.2s;
}
button:hover{
    background-color: var(--terciary);
}
.logg #eyeBan{
    width: 1.5rem;
    background-color: gray;
    border-radius: 25%;
    position: absolute;
    bottom: 5rem;
    right: 4rem;
    transition: 0.5s;
    cursor: pointer;
}
.logg #eyeBan:hover{
    background-color: var(--terciary);
}
main .us{
    height: 14rem;
}
.us img{
    width: 8rem;
    height: 8rem;
    margin: 0.5rem;
    float: left;
    clear: none;
}
/*Footer*/
footer{
    padding: 0.5rem;
    background-color: var(--primary);
    display: flex;
    flex-wrap: wrap;
}
footer .faq{
    height: 100%;
    width: 70%;
    overflow: scroll;
}

.faq details p{
    font-size: 0.8rem;
    color: wheat;
}
footer .logo{
    margin: 1rem 1rem;
}
footer .rrss{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
}
.rrss img{
    height: 2rem;
}

/**/
.catalog{
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
}
.catalog button{
    width: 8rem;
    padding: 1rem 0;
    margin: 1rem auto;
    grid-column: 1/3;
}
#species{
    margin: 0.2rem;
    background-color: wheat;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    opacity: 0.8;
}
#species:checked{
    opacity: 1;
    background-image: url();
}
#species:hover{
    opacity: 1;
}
#species img{
    background-color: aliceblue;
    height: 8rem;
    width: 100%;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 2rem;
    transition: 1s;
}
#species p{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;
}
#species .latin{
    font-style: italic;
}
#species input{
    display: none;
}

